<table>
  <tr>
    <th>Product Name</th>
    <th>Qty</th>
    <th>Price</th>
  </tr>
  <tr>
    <% @orders.each do |order| %>
    <% order.order_items.each do |order_item| %>
      <% if @product_ids.include?(order_item.product_id) %>
      <td><%= link_to "#{order_item.product.name}" %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.product.price %></td>
      <% end %>
    <% end %>
  </tr>
</table>
