<div class="container-fluid">
    <%= link_to "Add a Product", new_user_product_path(@user), method: :get, class: "btn btn-primary" %>
    <%= link_to "Add a Category", new_category_path, method: :get, class: "btn btn-primary" %>
</div>
