<h2>Select Shipping Option</h2>

<h4>Order Details</h4>
<%= render partial: "details" %>

<h4>Shipping Options</h4>

<ul>
  <% @calculated_rates.each do |rate| %>
    <li><%= "#{rate["service_name"]}, $#{rate["total_price"]/100.0}" %></li>
  <% end %>
</ul>
