<%= link_to "Continue Shopping", root_path %>
<h4>Order Status: <%= @order.status.capitalize %></h4>

<%= render partial: "details" %>

<% if @order.status == "pending" %>
  <%= button_to("Checkout", "/orders/#{@order.id}/payment", method: :get, id: @order, class: "btn btn-primary") %> </td>
<% end %>
